@model HomeViewModel

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/styles.css" />

    <h1 class="mt-lg-3 text-light">Bug Trackers Home Page</h1>
   

