
@model DetailViewModel

<partial name="_ProjectDetail" model="Model.projet" />
<h3 class="bg-secondary text-white text-center p-1">All Tickets</h3>

<div class="dropdown">
    <button class="btn btn-info dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Project" asp-action="ProjectDetail" asp-route-id="@Model.projet.ProjectId">Open/In Work</a>
        <a class="dropdown-item" asp-controller="Project" asp-action="ProjectDetailComplete" asp-route-id="@Model.projet.ProjectId">Complete</a>
        <a class="dropdown-item" asp-controller="Project" asp-action="ProjectDetailAll" asp-route-id="@Model.projet.ProjectId">All</a>
    </div>
</div>
<partial name="_AllTickets" model="Model" />
<div class="mr-md-3">
    <a asp-controller="Ticket" asp-action="Create" class=" btn btn-success float-md-right col-3">Create New Ticket</a>
</div>
