@model DetailViewModel

<div class="row">
    @foreach (var ticket in Model.CompleteTickets)
    {
        <div class="col-sm-4">
            <partial name="_TicketCard" model="ticket" />
        </div>
    }
</div>
